<header>
  <a href="/">TechNova</a>
  <nav class="nav">
    <a href="/categories" class="<%= currentPath === '/categories' ? 'currentPage' : '' %>">Categories</a>
    <a href="/items" class="<%= currentPath === '/items' ? 'currentPage' : '' %>">All items</a>
    <a href="/colors" class="<%= currentPath === '/colors' ? 'currentPage' : '' %>">All colors</a>
    <a href="/about" class="<%= currentPath === '/about' ? 'currentPage' : '' %>">About</a>
  </nav>
</header>
