<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/global-styles") %>
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/category-form.css" />
    <title><%= title %> | TechNova</title>
  </head>

  <body>
    <%- include('partials/header') %>
    <main>
      <!-- Action is to the current route because it's omitted -->
      <form method="post" enctype="multipart/form-data">
        <%- include('partials/errors') %>
        <h2>Create a new category</h2>
        <div>
          <label>
            Category Name*:
            <input required maxlength="100" type="text" name="categoryName" />
          </label>
          <label>
            Category Image*:
            <input required type="file" name="categoryImage" />
          </label>
        </div>
        <button type="submit">Create</button>
      </form>
    </main>
    <script src="/scripts/header.js"></script>
  </body>
</html>
