.nav {
  background-color: #4b4453;
  height: 0px;
  transition: height 400ms ease-out;
  position: relative;
}

.nav a {
  position: relative;
}

.nav a::after {
  content: "";
  display: block;
  width: 100%;
  margin-top: 2px;
  position: absolute;
  transform: scale(0);
  border-bottom: 1px solid #b0a8b9;
  transition: transform 200ms ease-out;
}

.nav a:hover::after {
  transform: scale(1);
}

.nav.is-active {
  height: 250px;
}

.nav > div {
  height: 50px;
}

.nav > hr {
  border-color: black;
  border-top: 1px;
  opacity: 0;
  transition: opacity 200ms ease;
  &.is-active {
    opacity: 1;
  }
}

.logo {
  position: absolute;
  width: 5%;
  border-radius: 20%;
  left: 5%;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.logo.is-active {
  opacity: 1;
}

.nav > ul {
  margin-top: 20px;
  justify-content: center;
  gap: 200px;
  opacity: 0;
  display: none;
  animation: fade-out 200ms ease-out forwards;
  &.is-active {
    display: flex;
    animation: fade-in 400ms ease-in-out forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: flex;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    display: flex;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.nav li {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav .categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav .primary {
  color: white;
  text-decoration: none;
}

.nav .secondary {
  color: #b0a8b9;
  text-decoration: none;
  font-size: 0.9rem;
}

.hero {
  height: 100vh;
  background-image: url("/images/background-hero.jpg");
  background-size: cover;
  display: grid;
  grid-template-areas:
    "hamburger hamburger"
    "hr hr"
    "hero-text cards"
    "hero-text cards";
  transition: margin 200ms ease-in-out, border-radius 200ms ease-in-out;
}

.hero.is-active {
  margin: 1rem;
  border-radius: 10px;
}

.hamburger-container {
  grid-area: hamburger;
  display: flex;
  justify-content: end;
  padding: 1rem 1rem 8rem 1rem;
}

.button-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  background-color: #0000001e;
  padding: 0.5rem;
  border-radius: 10px;
  transition: background-color 200ms ease-in-out;
  &.is-active {
    background-color: transparent;
  }
}

.button-container > span {
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  &.is-active {
    opacity: 0;
    transform: translateY(-20%);
  }
}

.hero > hr {
  grid-area: hr;
  width: 100%;
  height: 0;
  border-color: black;
  border-top: 1px;
}

.hero-text-container {
  grid-area: hero-text;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-cards-container {
  grid-area: cards;
  display: grid;
  grid-template-areas:
    "featured-item featured-item"
    "links categories"
    "locations categories";
}

.card {
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
}

.hero-cards-container > .featured-item {
  grid-area: featured-item;
  display: flex;
  padding: 0.5rem;
}

.featured-item > .featured-item-content {
  z-index: 2;
  display: flex;
}

.hero-cards-container > .hero-links {
  grid-area: links;
}

.hero-cards-container > .hero-locations {
  grid-area: locations;
}

.hero-cards-container > .hero-categories {
  grid-area: categories;
}

/* Hamburger button */
.hamburger {
  position: relative;
  display: block;
  width: 50px;
  cursor: pointer;
  appearance: none;
  border: none;
  background: none;
  outline: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 6px 0px;
  transition: transform 400ms ease-in-out;
}

.hamburger.is-active::before {
  transform: scale(0);
}

.hamburger.is-active::after {
  transform: scale(0);
}
