body {
  background-color: #4b4453;
}

.nav {
  background-color: #4b4453;
  height: 0px;
  transition: height 400ms ease-out;
  position: relative;
}

.nav a {
  position: relative;
}

.nav a::after {
  content: "";
  display: block;
  width: 100%;
  margin-top: 2px;
  position: absolute;
  transform: scale(0);
  border-bottom: 1px solid #b0a8b9;
  transition: transform 200ms ease-out;
}

.nav a:hover::after {
  transform: scale(1);
}

.nav.is-active {
  height: 250px;
}

.nav > div {
  height: 50px;
}

.nav > hr {
  border-color: black;
  border-top: 1px;
  opacity: 0;
  transition: opacity 200ms ease;
  &.is-active {
    opacity: 1;
  }
}

.logo {
  position: absolute;
  width: 65px;
  border-radius: 20%;
  left: 3%;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.logo.is-active {
  opacity: 1;
}

.nav > ul {
  margin-top: 20px;
  justify-content: center;
  opacity: 0;
  display: none;
  animation: fade-out 200ms ease-out forwards;
  gap: 200px;
  &.is-active {
    display: flex;
    animation: fade-in 400ms ease-in-out forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: flex;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    display: flex;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.nav li {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav .categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav .primary {
  color: white;
  text-decoration: none;
}

.nav .secondary {
  color: #b0a8b9;
  text-decoration: none;
  font-size: 0.9rem;
  word-break: break-all;
}

.hero {
  height: 100vh;
  background-image: url("/images/background-hero.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-areas:
    "hamburger hamburger"
    "hr hr"
    "hero-text cards"
    "hero-text cards";
  transition: margin 200ms ease-in-out, border-radius 200ms ease-in-out;
  padding: 0 1rem 1rem;
}

.hero.is-active {
  margin: 1rem;
  border-radius: 10px;
}

.hamburger-container {
  grid-area: hamburger;
  display: flex;
  justify-content: end;
  padding: 1rem 1rem 8rem 1rem;
}

.button-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  background-color: #0000001e;
  padding: 0.5rem;
  border-radius: 10px;
  transition: background-color 150ms ease-in-out;
  cursor: pointer;
  &.is-active {
    background-color: transparent;
  }
  &:hover:not(:has(.is-active)) {
    background-color: #0000003e;
  }
}

.button-container > span {
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  &.is-active {
    opacity: 0;
    transform: translateY(-20%);
  }
}

.hero > hr {
  grid-area: hr;
  width: 100%;
  height: 0;
  border-color: black;
  border-top: 1px;
}

.hero-text-container {
  grid-area: hero-text;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff6ff;
}

.hero-text-container > p {
  width: 60%;
  line-height: 1.3;
}

.hero-text-container > h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  user-select: none;
}

.hero-cards-container {
  grid-area: cards;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "featured-item featured-item"
    "links categories"
    "locations categories";
  grid-template-columns: 1fr 1fr;
}

.hero-cards-container img {
  border-radius: 5px;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 200ms ease-out;
  &:hover {
    background-color: rgba(0, 0, 0, 0.302);
  }
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
}

.hero-cards-container > .featured-item {
  grid-area: featured-item;
  display: flex;
  padding: 0.5rem;
}

.featured-item .featured-item-content {
  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
}

.featured-item-content > img {
  aspect-ratio: 2 / 1;
  width: 200px;
  height: 100%;
  object-fit: cover;
  align-self: center;
}

.featured-item-content > .featured-item-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0.5rem;
}

.featured-item-text > .featured-item-category {
  color: black;
}

.featured-item-text > .featured-item-description {
  height: 100%;
  color: #000000d3;
  line-height: 1.1;
}

.hero-cards-container > .hero-links {
  grid-area: links;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.hero-links > a {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  width: 100%;
  background-color: #9b89b36e;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: box-shadow 100ms linear;
  &:hover {
    box-shadow: inset 0 0 10px #4e00cb;
  }
}

.hero-cards-container > .hero-locations {
  grid-area: locations;
  position: relative;
}

.hero-locations > img {
  width: 100%;
  height: 100%;
  border-radius: 0;
  object-fit: contain;
  isolation: isolate;
  filter: opacity(0.9);
}

.hero-locations > p {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
}

.hero-cards-container > .hero-categories {
  grid-area: categories;
  position: relative;
  padding: 0.5rem;
}

.hero-categories > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: contrast(1.2);
}

.hero-categories > p {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: black;
}

main {
  background-color: #fff;
  padding: 4rem 1rem;
}

main > h2 {
  font-size: 4rem;
}

.get-started-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.get-started-container > hr {
  width: 100%;
  border-top: 1px;
}

.get-started-container > .get-started-card {
  display: flex;
  gap: 50px;
  text-decoration: none;
  color: black;
  padding: 1rem 1rem 1rem 6rem;
  border-radius: 5px;
}

.get-started-card > .get-started-text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.get-started-text > h3 {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.get-started-text > p {
  transition: opacity 500ms ease, transform 500ms ease;
  opacity: 0;
  transform: translateY(50%);
  &.animate {
    opacity: 1;
    transform: translateY(0);
  }
}

.get-started-text > h3 > img {
  width: 30px;
}

.get-started-card > .get-started-img {
  display: flex;
  flex-basis: 100%;
}

.get-started-img > img {
  aspect-ratio: 16 / 4;
  width: 30%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;

  &.animate {
    animation: extend-in 1000ms ease-in forwards;
  }
}

@keyframes extend-in {
  from {
    width: 30%;
  }
  100% {
    width: 50%;
  }
}

/* Hamburger button */
.hamburger {
  position: relative;
  display: block;
  width: 50px;
  cursor: pointer;
  appearance: none;
  border: none;
  background: none;
  outline: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 6px 0px;
  transition: transform 400ms ease-in-out;
}

.hamburger.is-active::before {
  transform: scale(0);
}

.hamburger.is-active::after {
  transform: scale(0);
}

@media (max-width: 1250px) {
  .nav.is-active {
    height: 320px;
  }

  .nav > ul {
    gap: 50px;
  }

  .hamburger-container {
    padding: 1rem 1rem 4rem 1rem;
  }

  .hero {
    grid-template-columns: 1fr 1fr;
  }

  @keyframes extend-in {
    from {
      width: 30%;
    }
    100% {
      width: 70%;
    }
  }
}

@media (max-width: 940px) {
  .nav > ul.is-active {
    margin-top: 100px;
  }

  .logo {
    left: 50%;
    width: 80px;
    transform: translateX(-50%);
  }

  .hero {
    background-position: center;
    height: auto;
    grid-template-areas:
      "hamburger"
      "hr"
      "hero-text"
      "cards";
    grid-template-columns: none;
  }

  .hero-cards-container {
    margin-top: 50px;
  }

  .hero-links > a {
    padding: 1rem;
    backdrop-filter: none;
  }
}

@media (max-width: 770px) {
  .nav.is-active {
    height: 630px;
  }
  .nav > ul {
    flex-direction: column;
    padding: 1rem;
  }
  .get-started-container > .get-started-card {
    flex-direction: column;
    padding: 1rem 1rem 1rem 2rem;
    gap: 30px;
  }
  .get-started-card > .get-started-text {
    gap: 20px;
  }

  @keyframes extend-in {
    from {
      width: 30%;
    }
    100% {
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .button-container {
    right: 10px;
  }
  .hero-text-container {
    gap: 20px;
  }
  .hero-text-container > h1 {
    font-size: 3rem;
  }
  .featured-item .featured-item-content {
    flex-direction: column;
  }
  .featured-item-content > img {
    width: 100%;
  }
  .hero-links > a {
    padding: 0.8rem 0.4rem;
  }
}
